.card {
	width: 100%;
	aspect-ratio: 16/9 !important;
	border-radius: 13px;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	gap: 2px;
}

@media (min-width: 1000px) {
	.card {
		max-width: 1000px;
	}
}

.c1 {
	grid-template-areas:
		"item1 item1"
		"item1 item1";
}

.c2 {
	grid-template-areas:
		"item1 item2"
		"item1 item2";
}

.c3 {
	grid-template-areas:
		"item1 item2"
		"item1 item3";
}

.c4 {
	grid-template-areas:
		"item1 item2"
		"item3 item4";
}

:root {
	--image-background: rgb(233, 233, 233);
}

.image {
	width: 100%;
	height: 100%;
	background-color: var(--image-background);
	object-fit: cover;
	object-position: center center;
	display: block;
}

.imageWrapper {
	width: 100%;
	height: 100%;
}

.shimmer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: var(--image-background);
}

.moving {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		90deg,
		var(--image-background),
		rgb(255, 255, 255),
		var(--image-background)
	);
	position: absolute;
	animation: shimmer 1.7s ease-out infinite;
}

@keyframes shimmer {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(200%);
	}
}
