.card {
	width: 100%;
	aspect-ratio: 16/9 !important;
	border-radius: 13px;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2px;
	background-color: transparent !important;
}

@media (min-width: 1000px) {
	.card {
		max-width: 1000px;
		background-color: #f0f0f0;
	}
}

.c1 {
	grid-template-areas:
		"item1 item1"
		"item1 item1";
}

.c2 {
	grid-template-areas:
		"item1 item2"
		"item1 item2";
}

.c3 {
	grid-template-areas:
		"item1 item2"
		"item1 item3";
}

.c4 {
	grid-template-areas:
		"item1 item2"
		"item3 item4";
}
