@keyframes fadeIn {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

.wrapper {
	/* position: fixed; */
	animation: fadeIn 0.2s ease-out forwards;
	top: 0;
	left: 0;
	/* width: 100vw; */
	/* height: 100vh; */
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.backdrop {
	animation: fadeIn 0.2s ease-out forwards;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: hsl(0, 0%, 0%, 80%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.dialog {
	background-color: rgb(255, 255, 255);
	z-index: 1001;
	animation: fadeIn 0.2s ease-out forwards;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.add {
	/* position: fixed; */
	left: 50%;
	top: 10%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: black;
	border: none;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1001;
	transition: 0.2s;
}

.open {
	transform: scale(1.5) rotate(45deg);
	transition: 0.2s;
}
