.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 80%;
	max-width: 1000px;
	height: 60%;
	background-color: rgb(255, 236, 202);
	border-radius: 20px;
	box-shadow: 7px 7px #ffe11e, 14px 14px #ff2a00;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  gap: 20px;
}

.signInBtn {
	display: flex;
  border: 3px solid rgb(231, 231, 231);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
  border-radius: 20px;
	padding: 5px 10px;
	gap: 10px;
	font-size: 1.3em;
}
